h1{
    font-size: 1.9em;
}

header{
    width: 100%;
    background-image: url(/img/bwoffice.jpg);
    background-size: 110% 150%;
    overflow: hidden;
    height: 350px;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    .header{
    width: 100%;
    display: grid;
    background-size: 100% 130%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 24% 75%;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    background-color: $callahanBlueTransparent;
    margin: 0;
        .nav-bar-container{
            border-bottom: 2px $callahanBabyTransparent solid;
            width: 80%;
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;
            font-size: 1.3em;
            position: sticky;
            li{
                display: inline;
                margin: 0 3% 0 3%;
                padding: 1% 1% 1% 1%;
                border-radius: 5px;
                a:link{
                    color: $callahanWhiteTransparent;
                    text-decoration: none;
                }
                a:visited{
                    color: $callahanWhiteTransparent;
                    font-style: none;
                }
                a:hover{
                    color: $callahanWinter;
                    font-size: 1.01em;

                }
            }
        }
        .nav-part-1{
            color: $callahanWhite;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            font-size: 1.8em;
            margin-left: 20%;
            p{
                margin-top: -4%;
                color: $callahanWhiteTransparent;
            }
        }
        .nav-part-2{
            width: 300px;
            height: 150px;
            text-align: right;
            margin-top: 60px;
            margin-left: 25%;
            
        }
    }
}

.nav-bar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.nav a:link {
    color: white;

}

.nav a:visited {
    text-decoration: none;
    color: #dce0e5;
    
}


.nav-container ul{ 
    list-style-type: none;
}

.nav-list{
    display: inline-block;
}

    /* NAV BOTTOM*/

.nav-back{
    width: 100%;
    height: 99%;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.nav-logo{
    margin-left: 18.5%;
    margin-top: 6.5%;
}

.nav-logo-back{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-left: 10%;
    justify-self: center;
    align-self: center;
}