@import'./variables';
@import './header';
@import './body';

*{
    box-sizing: border-box;
    overflow-x: hidden;
}

h2{
    font-size: 2.3em;
}

h3{
    font-size: 1.15em;
}

p{
    font-size: 1em;
}



/* PRACTICE*/



/*TEAM*/

/* CONTACT */

/*TESTIMONIALS*/

.testimonials{
    padding-bottom: 2%;
    display: none;
}

.testimonials q{
    margin: 5%;
    padding-top: 2%;
}

/* FOOTER */
.footer-facebook{
    margin-left: -3%;
}

.footer-container ul{
    margin-left: 0%;
}

.footer-container ul li{
    list-style: none;
}

.footer-container a:visited{
    color: #efefef;
}

.footer-container a:link{
    color: #efefef;
}

.footer-container a:hover{
    color: grey;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: -4%;
    border-top: #dce0e5 2px solid;
}

.disclaimer{
    margin-left: 5%;
    margin-right: 5%;
}

/* MEDIA QUERIES*/

@media(max-width: 600px) {

    h1{
        font-size: 2.6vw;
    }

    p{
        font-size: 2.8vw;
    }

    h2{
        font-size: 4vw;
        font-family: 'Merriweather', serif;
        color: #01161e;
    }

    header{
        background-size: 110% 140%;
        height: 300px;
    }

    .nav{
        display: grid;
        text-align: center;
        color: #efefef;
        background-color: #01161e;
        border-bottom:  #dce0e5 3px solid;
        box-shadow: 0px 3px 5px black;
        grid-column-start: 1;
        grid-column-end: 4;
        height: 40%;
        width: 100%;
        grid-template-columns: 30% 70%;
    }

    .nav-part-1{
        width: 110%;
        display: none;
    }

    .nav-part-2{
        width: 100%;
    }

    .nav-part-2 h1{
        height: 40%;
        width: 100%;
        margin-top: 10%;
        margin-left: 0%;
        padding-top: 8%;
        grid-row-start: 1;
        grid-row-end: 2; 
    }

    .nav-part-2 p{
        font-size: 2vw;
    }

    .nav-part-3{
        height: 50%;
        width: 100%;
        margin-top: 3.5%;
    }
    
    .nav-part-3 ul li{
        font-size: 2.5vw;
    }
    
    .nav-part-3-ext{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style: none;
    }
    
    p{
        font-size: 2.25vw;
    }

    .nav-part-3 div{
        display: grid;
        width: 100%;
    }

    .main-body{
        margin-top: 12%;
    }

    .about-wrapper{
        height: 100%;
    }
    
    .about-text{
        margin-top: -8%;
        height: 10vw;

    }

    .practice-wrapper{
        margin-top: 3%;
    }
    .practice-list{
        margin-left: -5%;
        font-size: 2.4vw;
        text-align: center;
        width: 70%;
    }

    .practice-list-2{
        font-size: 2.1vw;
        margin-left: -5%;
        width: 70%;
    }

    .practice-emblems img{
        width: 9vw;
        height: 9vw;
        border-radius: 150px;
    } 

    .team-abouts{
        text-align: left;
        margin: 3%;
        text-indent: 5%;
        font-size: 2.25vw;
    }

    
    .footer-container p{ 
        margin: 3%;
    }

    .footer-container ul li{
        list-style: none;
    }
    
    .footer-container a:visited{
        color: #efefef;
    }
    
    .footer-container a:link{
        color: #efefef;
    }
    
    .footer-container a:hover{
        color: grey;
    }

    footer{
        text-align: center;
        background-color: black;
        color: white;
        margin-bottom: 0%;
        border-top: #dce0e5 2px solid;
        height: 300px;
    }
}

/*Does work on large displays*/
@media(min-width: 1910px){
    .main-body{
        background-color: #efefef;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 0%;
        width: 80%;
        font-size: 1em;
        margin-top: 3%;
    }
}